<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Manager.Properties.Settings>
            <setting name="Manager_ADManagerWebService_ManagerWebService"
                serializeAs="String">
                <value>http://10.9.10.31:8808/webserivice/ManagerWebService.asmx</value>
            </setting>
        </Manager.Properties.Settings>
    </applicationSettings>
</configuration>