<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="padding:24px;">
        <div class="LogTable">
            <div class="searchBox clearfix" style="line-height:0;" ng-init="GetNoLoginUsers(1)">
                <div style="display:inline-block">
                    <form role="form" class="form-inline clearfix">
                        <div class="form-group margin20">
                            <input ng-model="Searchstr" type="text" class="form-control" placeholder="账号" />
                        </div>
                        <div class="oprate-butons form-group">
                            <button type="reset" class="btn btn-theme secondary" ng-click="clearSearch()">清除</button>
                            <button type="button" class="btn btn-theme primary" ng-click="GetNoLoginUsers(1)">查询</button>
                        </div>
                    </form>
                </div>
                <div class="pull-right opright">
                    <a class="abtn" id="Export" href="javascript:void(0);" ng-click="ExportNoLoginUsersToExcel()">导出</a>
                </div>
            </div>
            <div class="data-fluid">
                <div class="scroll_bar">
                    <table class="table dtable lcnp largeTable" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 260px">显示名称</th>
                                <th style="width: 260px">邮箱</th>
                                <th style="width: auto">创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in Lists">
                                <td>{{x.DisplayName}}</td>
                                <td>{{x.UserAccount}}</td>
                                <td>{{x.CreateTimeName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="position:relative;height:48px;margin-bottom:60px;">
                    <ul uib-pagination total-items="bigTotalItems" items-per-page="pSize" ng-model="currentPage" ng-change="pageChanged(currentPage)" previous-text="上一页" next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="false" boundary-link-numbers="true" rotate="true"></ul>
                    <ul style="width:90px;float:right;margin-top:23px;">
                        <li><select ng-model="pSize" ng-change="changePageSize()" style="width:90px;background: url(../img/down.png) no-repeat scroll 64px center #fff;"><option ng-repeat="y in PageSizes" value="{{y.value}}">{{y.text}}</option></select></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
