<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SyncADControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SQLConnString" value="Server=10.9.15.118;database=bgqtdb0912;user id=sa;password=123qwe!@#" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SyncADControl.Properties.Settings>
            <setting name="SyncADControl_ExchangeWebservice_ManagerWebService"
                serializeAs="String">
                <value>http://10.9.10.31:8808/webserivice/ManagerWebService.asmx</value>
            </setting>
        </SyncADControl.Properties.Settings>
    </applicationSettings>
</configuration>