<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="padding:24px;">
        <div class="LogTable" ng-show="ViewOrAdd">
            <div class="searchBox clearfix" style="line-height:0;">
                <div style="display:inline-block">
                    <form role="form" class="form-inline clearfix">
                        <div class="form-group margin20">
                            <input ng-model="searchOU" type="text" class="form-control" placeholder="OU" />
                        </div>
                        <div class="oprate-butons form-group">
                            <button type="reset" class="btn btn-theme secondary" ng-click="clearSearch()">清除</button>
                            <button type="button" class="btn btn-theme primary" ng-click="GetMailDataBaseList(1)">查询</button>
                        </div>
                    </form>
                </div>
                <div class="pull-right opright">
                    <a class="abtn" href="javascript:void(0);" ng-click="gotoMailBoxDBModal('add','')">添加</a>
                </div>
            </div>
            <div class="data-fluid" ng-init="GetMailDataBaseList(1)">
                <div class="scroll_bar">
                    <table class="table dtable lcnp largeTable" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: auto">OU</th>
                                <th style="width: auto">MailBox</th>
                                <th style="width: 100px">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_logs">
                            <tr ng-repeat="x in Lists">
                                <td>{{x.OuName}}</td>
                                <td>{{x.MailboxDB}}</td>
                                <td>
                                    <div class="pull-left oprate" ng-if="x.trueData == 1">
                                        <a href="javascript:void(0);" ng-click="gotoMailBoxDBModal('edit',x.ID)">编辑</a>
                                    </div>
                                    <div class="pull-right oprate" ng-if="x.trueData == 1">
                                        <a href="javascript:void(0);" ng-click="gotoDelMailBoxDB(x.ID)">删除</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="position:relative;height:48px;margin-bottom:60px;">
                    <ul uib-pagination total-items="bigTotalItems" items-per-page="pSize" ng-model="currentPage" ng-change="pageChanged(currentPage)" previous-text="上一页" next-text="下一页" max-size="maxSize" class="pagination-sm" boundary-links="false" boundary-link-numbers="true" rotate="true"></ul>
                    <ul style="width:90px;float:right;margin-top:23px;">
                        <li><select ng-model="pSize" ng-change="changePageSize()" style="width:90px;background: url(../img/down.png) no-repeat scroll 64px center #fff;"><option ng-repeat="y in PageSizes" value="{{y.value}}">{{y.text}}</option></select></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="addSensitiveMail page-row" ng-hide="ViewOrAdd" style="margin:0;">
            <div class="panel panel-default org-panel">
                <div class="panel-heading clearfix">
                    <span style="font-weight: 700;">{{OpTitle}}</span>
                    <span class="pull-right right-oprate-btn">
                        <a ng-click="AddMailDB()" ng-if="op=='add'" class="abtn" href="javascript:void(0);">保存</a>
                        <a ng-click="ChangeMailDB()" ng-if="op=='edit'" class="abtn" href="javascript:void(0);">保存</a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="block orginfo" style="position:relative;width:360px;padding-left:0;padding-right:0;">
                        <div class="form-group" style="height:auto;margin-bottom:18px;">
                            <label class="control-label" style="display:inline-block;float:left">OU<span class="required">*</span></label><label class="control-label" style="display:inline-block;float:right"><a ng-click="gotoChooseOu()">选择</a></label>
                            <input type="text" ng-model="OuName" readonly class="form-control" style="background-color:#fff;" value="" />
                        </div>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <label class="control-label">MailBox</label>
                            <select ng-model="MailboxDB" ng-options="x.text for x in MailDBList" class="form-control selectNomal"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--添加/编辑-->
        <div class="modal fade" id="MailDB_Modal" tabindex="-1" role="dialog" aria-labelledby="MailDBModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">选择</h4>
                    </div>
                    <div class="modal-body">
                        <div class="errorMsg" ng-model="errorMsg" ng-hide="checkTips" ng-class="opResult">{{errorMsg}}</div>
                        <div class="modalForm">
                            <div class="form-group" style="width: 100%;height:32px;">
                                <input type="text" ng-model="seachOrgNode" class="form-control search_user" style="width: 278px; display: inline-block;margin-right:12px;padding-left:34px;" placeholder="输入显示名称" />
                                <button style="height:32px;position:absolute;background-color:#fff;padding:0 20px;border:1px solid #d8d8d8;" ng-click="SearchGroupTree()">搜索</button>
                                <a class="clear_search" ng-show="seachOrgNode!=''" ng-click="clearSearchInput()" href="javascript:void(0);"></a>
                            </div>
                            <div class="form-group treeHide" style="margin-bottom: 12px;">
                                <ul class="ztree scroll_bar" id="OrgTree" style="margin: 0; padding:12px; height: 318px; overflow: auto;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer OperationProgress" ng-show="showModalFoot">
                        <button type="button" ng-click="chooseOU()" ng-disabled="modalButton" class="btn btn-theme modalBtn">确 定</button>
                        <div class="loading"><span></span><span></span><span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!--删除用户-->
        <div class="modal fade" id="delMailDB_Modal" tabindex="-1" role="dialog" aria-labelledby="delMailDBModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">删除</h4>
                    </div>
                    <div class="modal-body">
                        <div class="errorMsg" ng-model="errorMsg" ng-hide="checkTips" ng-class="opResult">{{errorMsg}}</div>
                        <div class="modalForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>删除邮箱数据库后：</div>
                                    <div>1. 相关数据会被全部删除并且无法恢复。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer OperationProgress" ng-show="showModalFoot">
                        <button type="button" class="btn btn-theme modalBtn" ng-disabled="modalButton" ng-click="DelMailDB()">确 定</button>
                        <div class="loading"><span></span><span></span><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
